th {color: #417084 !important;}
.table {margin-top:10px;}
#msds-select {padding:8px;}
.mrg-left {margin-left:15px;}
.mrg-btm{margin-bottom:15px !important; margin-top:0px;}
.active, .qry-btn:hover {color: white;}
tr td {font-size:13px;}
tr th {font-size:14px;}
#export_id a{margin:0 auto;display:block; width:100px;}
.qry-btn {border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;display: inline-block;margin-bottom:5px !important;font-weight:normal; text-transform:uppercase; font-size:12px !important;padding:7px 16px; background:#337ab7; color:#d1e2f1;}
.qry-btn:hover {text-decoration:none;color:#d1e2f1; box-shadow:1px 3px 3px 0px #666;}
.mrg-top{margin-top:22px;}
.tbl {font-size:12px; font-weight: normal;}
.table-bordered>tbody>tr>td {font-weight:normal;}
.tbl>thead>tr>th {vertical-align:top;}
th {white-space: nowrap;background: #a9d8ec;color:#333;border: 1px solid #8cc9e2 !important;}
td {white-space: nowrap;}
.glyphicon1 {top:-14px !important; cursor:pointer;}
.mrg-tp-forteen {top:-14px !important;}
textarea {width:100%;}
.center-multi-obj {margin: 0 auto;width: 30%;}
.nav-tabs.nav-justified>.active>a {background: #a9d8ec;}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {background: #f1f1f1;}
.tab-content {background: #fbfbfb;float: left;padding-bottom: 15px; width:100%;border:1px solid #ccc;border-top:0px;}
.used {width: auto; float: left; display: inline-block; margin-right: 16px;}
.tr-css {font-size:12px;height:15px;}
.reg-tabl {border-style:None;border-collapse:collapse;}
.headerstyle {color:White;background-color:#005387;font-size:12px;font-weight:normal;}

.table>tbody>tr>td span {padding:5px;vertical-align: -webkit-baseline-middle;}
.table>tbody>tr>th span {padding:5px;vertical-align: -webkit-baseline-middle;}
.block {display:block; width:100%;margin-bottom: 5px !important;}

@media only screen and (max-width: 768px) {
.center-multi-obj {width: 100%;}
.map-pin {float:left;}
.tab-content {border-top:1px solid #ccc;}
}

.common-btn {
  color: #302438;
  padding:7px 20px;
    background-color: transparent;
    border: 1px solid #988ca0;
    border-radius: 50px;
  transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  height: 37px;
    line-height: 23px;

}
.common-btn:hover {background-color: #1c82ae; color:#fff;border: 1px solid #a9d8ec;}

.panel-primary>.panel-heading {
    color: #565454 !important;
    background-color: #a9d8ec !important;
    border-color: #a9d8ec !important;
}
.panel-primary {
    border-color: #81bdd6 !important;
}
p {
    margin: 0 0 2px !important;
}
.center-obj {margin:0 auto; display:block !important;}
.input-group .form-control {color:#666;}
.modal-content {border-radius: 0px !important;}
.modal-header {background:#a9d8ec !important;; border-bottom: 1px solid #8bc7e0 !important;}
.modal-dialog {margin: 200px auto !important;}

.padd-obj {padding:10px;margin:5px;}
.font-sixteen {font-size:16px;}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c82ae; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.center-obj {margin:0 auto; display:block; margin-top:5px;margin-bottom:10px;}
.center-img {margin:0 auto; display:block;}
.img-circle-cs {padding:10px;background:#ccc; border-radius:80px;-moz-border-radius:80px;-webkit-border-radius:80px; margin-bottom:15px;}

body{
  font-family:arial;
  background:#f1f1f1;
  color:#676a6d;
  
} 
a {cursor:pointer;}
h1,h2,h3,h4,h5,h6{
  margin:0;        
} 
p{
  margin:0;
  color: #676a6d;
}
ul{
  margin:0;
  padding:0;
}
label{
  margin:0px;
  display:block;
    color:#666;
  
}
a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.bg {
    background: #394052 url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.img-center{display:block;margin:0 auto;}
.login {transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.login:hover{box-shadow: 1px 22px 55px 3px #1a1f35; -webkit-box-shadow: 1px 22px 55px 3px #1a1f35; moz-box-shadow: 1px 22px 55px 3px #1a1f35;}
.logo-bg {background:#302438;padding: 10px 10px 15px 10px;opacity: 0.8;}
.login-bdy {padding:20px 30px; background:#1d82ae;}
.login-bdy h2 {color:#fff;}
.forgot-pass {color:#fff; text-decoration:underline;}
.submit-btn {color:#1d82ae; background:#fff; border-radius:60px;-moz-border-radius:60px;-webkit-border-radius:60px;}
.input-cs {height: 45px; border-radius:0px;}


.bar1, .bar2, .bar3 {
    width:35px;
    height: 3px;
    background-color: #b9ccd4;
    margin-bottom:4px;
  margin-top:0px;
    transition: 0.4s;
  
} 
.menu-btn {float:left;padding: 5px 10px;padding-left: 0px; cursor:pointer; margin-top:28px;}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
    transform: rotate(-45deg) translate(-2px, 2px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.hedr { position: fixed; z-index:10000;top: 0px;width: 100%; background:#302438;height:81px;box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);}
.search-dv {float: left;width:300px;margin-top:23px;}
.search-btn {position: relative;top: -47px;right: 45px;cursor: pointer;}
.logout-btn img {padding: 28px 0px;}
.log-txt {color:#b9ccd4;padding:0px; margin-top:15px;}

.search {
    display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 12px;line-height: 1.42857143;color: #555;background-color: #4c3d56;background-image: none;
    border: 1px solid #594a63;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.logo {margin-top:5px;}
.log-btn {margin-top:5px;}
.log-btn img:hover {opacity:0.7;}
.brdr {border:1px solid #DCE6EB; padding:10px; margin-bottom:15px; border-radius:5px;}
.white-bg {background:#fff;  padding:20px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; box-shadow:1px 1px 2px 0px #eee; }
.log-txt b {color:#b9ccd4; font-weight:normal;}
.scrolling {background:#1c82ae;}
@media only screen and (max-width:768px) {

.search-dv {
    position: absolute;
    width: 93%;
    margin-left: 0%;
    background: #302438;
    padding: 17px;
    margin-top:75px;
    z-index: 1000;
  display:none;
}

.show-clas {margin-top: 61px;}
.log-txt {font-size:12px; margin-top:20px;}
.log-txt b {color:#b9ccd4; font-weight:normal;}
.no-mob-pad {padding:0px 0px; padding-bottom:-4px;}
.log-txt {text-align:left; float:none !important;}
.hedr {padding-top:3px;}
.logo {margin-top:9px;}

.container-fluid {padding:0px !important;}

.bar1, .bar2, .bar3 {width:25px;height: 3px;background-color: #b9ccd4;margin-bottom:3px;margin-top:0px;transition: 0.4s;} 
}




/* submit-query css  Start*/

  .select-opt {padding:8px;}
  .text-area textarea {width:100%;background:#f1f1f1;height:300px; padding:10px; border:1px solid #ddd; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
  textarea {resize: vertical;}
  .border {border:1px solid #009ee3; transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
  .border:hover {background:#009ee3; color:#fff;}

/* submit-query css  End*/